.main-container {
    display: inline;
}

.sidebar {
    height: 100%;
    width: 84px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: crimson;
    overflow-x: hidden;
    padding-top: 20px;
}

.main-data {
    margin-left: 88px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}