.menu-item {
    padding: 18px;
    width: 48px;
    height: 48px;
    display: block;
    color: whitesmoke;
    text-decoration: none;
}

.menu-item:hover {
    color: crimson;
}

.sidebar {
    height: 100%;
    width: 84px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #2C3E50;
    overflow-x: hidden;
    padding-top: 20px;
}

.main-data {
    margin-left: 84px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}