.nav {
  overflow: hidden;
  background-color: crimson;
  height: 90px;
  position: sticky;
  top: 0;
}

.login-nav {
  background-color: transparent;
}

.nav-link {
  float: left;
  color: black;
  background-color: crimson;
  text-align: center;
  padding: 36px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.login-nav-link {
  float: left;
  color: black;
  background-color: transparent;
  text-align: center;
  padding: 36px 10px;
  text-decoration: none;
  font-size: 15px;
}

.nav-link:hover {
  background-color: darkred;
}

.nav-right {
  /* float: right; */
  display: inline;
  position: fixed;
  right: 0;
}

.nav-name {
  display: inline;
  font-family: 'Aclonica', sans-serif;
  font-size: 36px;
  position: fixed;
  left: 20px;
  top: 22px;
}